body {
  font-family: "Gentium Book Plus", serif;
  text-align: center;
  background-color: d9e3df;
}
.navbar {
  font-size: 22px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("images/water.jpg");

  min-height: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.hero {
  padding-top: 10px;
  font-size: 80px;
}
.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 25px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  padding-top: 10%;
}
h1 {
  font-weight: bold;
  font-size: 96px;
  color: rgba(6, 6, 6, 0.815);
}
.lets {
  padding-top: 10px;
}
h2 {
  font-size: 26px;
}

.intro {
  margin-top: 160px;
  margin-bottom: 100px;
}
button {
  background-color: #d9ddeb;
  padding: 5px;
  margin-top: 15px;
  border-radius: 4px;
  font-weight: bold;
}
.toberounded {
  border-radius: 4px;
}
.examples {
  text-align: center;
}
.underscore {
  text-decoration: underline;
}
.description {
  padding-top: 10%;
  background-color: rgba(17, 50, 184, 0.041);
  border-radius: 4px;
}
strong {
  color: black;
}
.contact {
  margin-bottom: 20px;
}
li:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a {
  color: black;
}
.socials {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.inTouch {
  margin: -20px;
}
.bottom {
  padding-bottom: 15px;
}
.white {
  background-color: white;
}
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
  .examples {
    margin-top: 0px;
  }
  .title {
    font-size: 20px;
  }
  .hero {
    font-size: 30px;
  }
  .white {
    background-color: white;
  }
  .hero-image {
    background-image: url("images/water2.jpg");
    left: 0;
    height: 900px;
    width: 100%;
  }

  .hero-text {
    display: block;
    color: black;
    padding-top: 50px;
    font-size: 18px;
    text-align: center;
  }
  .lets {
    padding-top: 10%;
  }
  .getInTouch {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .inTouch {
    padding: 25px;
  }
  .socials {
    display: block;
    font-size: 20px;
    line-height: 30px;
  }
  .toobig {
    font-size: 22px;
  }
}
