body {
  font-family: "Gentium Book Plus", serif;
  text-align: center;
  background-color: d9e3df;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("images/water.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: space;
}
.hero {
  padding-top: 10%;
}
.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  padding-right: 20px;

  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 96px;
  color: rgba(6, 6, 6, 0.815);
}
h2 {
  font-size: 26px;
}

.intro {
  margin-top: 160px;
  margin-bottom: 100px;
}
button {
  background-color: #d9ddeb;
  padding: 5px;
  margin-top: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.examples {
  text-align: center;
}

.description {
  padding-top: 10%;
  background-color: rgb(216, 242, 149, 0.3);
  border-radius: 4px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
  .examples {
    margin-top: 0px;
  }
  .title {
    font-size: 20px;
  }
}
